 body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
 }

 body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
 }
/* Navagation Bar */
 .navBar {
   display: flex;
   background-color: #0B0B09;
   padding: 0.5rem;
}

.logoImage {
   height: 100px;
}

.searchBtn {
    margin-left: auto;
    height: 50px;
    margin-top: 25px;
    font-size: 20px;
    
    
}

.loginBtn {
    font-size: 20px;
    height: 50px;
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 20px;
    
    
}

.btnDesign {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .btnDesign:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .btnDesign:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  .landingPage {
    display: flex;
    flex-wrap: flex;
    background-color: #0f0c0c;
    height: 400px

  }
  .landingInfo {
    flex: 1;
    font-size: 30px;
    border: 3px solid red;
    color: white;
    font-weight: bold;
    border-color: white;
  }
  
  .landingImg {
    flex: 1;
    height: 200px;
    width: 200px;
  }
  .trendingCrypto {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
    height: 300px;
    background-color: #0f0c0c;
  }
  .popularCoins {    
    background-color: white;
    border: 5px solid blue;
    height: 150px;
    width: 150px;
    
    
  }

